@keyframes swellTitleDiv {
    from{width: 75vw; height: 50vh;}
    to{width: 79vw; height: 54vh;}
}

@keyframes shrinkTitleDiv {
    to{width: 75vw; height: 50vh;}
    from{width: 79vw; height: 54vh;}
}

body{
    cursor: url("imgs/Black-Pixel-Mouse-Cursor-Arow-Fixed.png"), auto;
    background-color: #FFE8E8;
    margin: 0;
    padding: 0;
}

.title-bg{
    --bg-angle: 0deg;
    background-image: linear-gradient(var(--bg-angle), #FFEFEF, #feabb5);
}

.section{
    width: 100vw;
    height: 100vh;
    background-color: #db9b9b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.title-holder{
    position: absolute;
    width: 75vw;
    height: 50vh;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 21px;
    animation: shrinkTitleDiv 0.5s ease-out;
}

.title-holder:hover{
    width: 79vw;
    height: 54vh;
    animation: swellTitleDiv 0.5s ease-out;
}

h1{
    margin-top: 30px;
    color: #4F4560;
    font-size: 75px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 10px;
}

.title-group{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.border1{
    text-align: center;
    font-size: 20px;
    color: #5D5C7B;
    font-family: "Inter", sans-serif;
}

.greeting-msg{
    text-align: center;
    color: #5D5C7B;
    font-size: 20px;
    font-weight: 600;
    font-family: "M PLUS 2", sans-serif;
    line-height: 10px;
}

.navigation-bg{
    width: 100vw;
    height: 100vh;
}

.particle{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    color: white;
    opacity: 0.3;
}