@keyframes swellTitleDiv {
    from{width: 75vw; height: 50vh; box-shadow: none;}
    to{width: 79vw; height: 54vh; box-shadow: #feabb5 15px 15px 40px 20px}
}

@keyframes shrinkTitleDiv {
    to{width: 75vw; height: 50vh; box-shadow: none}
    from{width: 79vw; height: 54vh; box-shadow: #feabb5 15px 15px 40px 20px}
}

@keyframes sectionHover{
    from{width: 280px; height: 220px; background-color: white;}
    to{width: 302px; height:  237.6px; background-color: rgb(238, 238, 238);}
}

@keyframes sectionNotHover{
    to{width: 280px; height: 220px; background-color: white;}
    from{width: 302px; height:  237.6px; background-color: rgb(238, 238, 238);}
}

@keyframes slide{
    from{background-position-x: 0px; background-position-y: 0px;}
    to{background-position-x: -500px; background-position-y: -100px;}
}

body{
    background-color: #FAD7D7;
    margin: 0;
    padding: 0;
}

.title-bg{
    --bg-angle: 0deg;
    background-image: linear-gradient(var(--bg-angle), #FFEFEF, #feabb5);
}

.section{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.title-holder{
    position: absolute;
    width: 75vw;
    height: 50vh;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 21px;
    animation: shrinkTitleDiv 0.5s ease-out;
}

.title-holder:hover{
    width: 79vw;
    height: 54vh;
    animation: swellTitleDiv 0.5s ease-out;
    box-shadow: #feabb5 15px 15px 40px 20px;
}

h1{
    margin-top: 30px;
    color: #4F4560;
    font-size: 75px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 10px;
}

.title-group{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.border1{
    text-align: center;
    font-size: 20px;
    color: #5D5C7B;
    font-family: "Inter", sans-serif;
}

.greeting-msg{
    text-align: center;
    color: #5D5C7B;
    font-size: 20px;
    font-weight: 600;
    font-family: "M PLUS 2", sans-serif;
    line-height: 10px;
}

.plaid-bg{
    background-color: #fed8d8;
    background-image: url("imgs/plaidTile.jpg");
    background-size: 350px;
    background-repeat: repeat;
    background-blend-mode:lighten;
    position: relative;
    animation: slide 15s linear infinite;
}

.navgrid{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
}

.navgrid-row{
    display: grid;
    justify-content: space-evenly;
}

.navgrid-row-1{
    grid-template-columns: auto auto auto;
    width: 90%;
    margin: auto;
}

.navgrid-row-2{
    grid-template-columns: auto auto;
    width: 70%;
    margin: auto;
}
.section-btn{
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 21px;
    position: relative;
    rotate: var(--rotation);
    animation: sectionNotHover 0.5s ease-out;
    box-shadow: rgba(123, 80, 80, 0.438) -2px 8px 7px ;
}

.section-btn:hover{
    animation: sectionHover 0.5s ease-out;
    width: 302.4px;
    height: 237.6px;
    background-color: rgb(238, 238, 238);
}

.section-txt{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    font-family: "M PLUS 2", sans-serif;
}

.about-me{
    --rotation: -8deg;
}

.projects{
    --rotation: 4deg;
}

.achievements{
    --rotation: -5deg;
}

.experiences{
    --rotation: 5deg;
}

.contact{
    --rotation: -2deg;
}

.navbar{
    width: 100vw;
    height: 75px;
    background-color: #FFC5C5;
    position: fixed;
    display: flex;
    z-index: 5;
}

.navbar-element{
    padding-left: 30px;
    padding-right: 30px;
    width: 20%;
    text-align: center;
}

.navbar-element:hover{
    background-color: #ed9ea7;
}

.navbar-text{
    color: white;
    font-family: "M PLUS 2", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.navbar-cropped{
    position: absolute;
    bottom: 20px;
    height: 80vh;
    width: 100%;
}

.navbar-cropped-relative{
    position: relative;
}