@keyframes about-me-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes about-me-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes about-me-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes about-me-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}

@keyframes spin{
    from{rotate: 0deg;}
    to{rotate: 359deg;}
}

@keyframes about-me-info-1{
    from{width: 67%; height: 75vh;}
    to{width: 69%; height: 77vh;}
}

@keyframes about-me-info-2{
    to{width: 67%; height: 75vh;}
    from{width: 69%; height: 77vh;}
}

@keyframes hobby-1{
    from{width: 90%; height: 90%;}
    to{width: 94%; height: 94%;}
}

@keyframes hobby-2{
    to{width: 90%; height: 90%;}
    from{width: 94%; height: 94%;}
}

@keyframes fade-1{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fade-2{
    to{opacity: 0;}
    from{opacity: 1;}
}

.about-me-section{
    background-color: #fdb3b3;
    background-image: url("/imgs/plaidTile.jpg");
}

.about-me-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: about-me-border-2 0.7s ease-out;
}

.about-me-border:hover{
    animation: about-me-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.about-me-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: about-me-div-2 0.7s ease-out;
}

.about-me-title-div:hover{
    animation: about-me-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.about-me-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 100px;
    width: 100%;
}

.navbar-cropped{
    position: absolute;
    bottom: 20px;
    height: 80vh;
    overflow-y: auto;
    width: 100%;
}

.navbar-cropped-relative{
    position: relative;
}

.about-me-body{
    display: flex;
    width: 100%;
    justify-content: space-around;
    overflow-x: hidden;
}

.img-border{
    background-image: url("/imgs/lace-border.png");
    background-size: 381.99px;
    height: 381.99px;
    width: 381.99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 15s linear infinite;
    transform-origin: 0% 0%;
}

.img-holder{
    position: relative;
    width: 23%;
    right: 400px
}

.img{
    background-color: white;
    width: 297.46px;
    height: 297.46px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me-info{
    background-color: #F2C7C7;
    width: 67%;
    height: 75vh;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 40px;
    border: 3px white solid;
    animation: about-me-info-2 0.7s ease-out;
    position: relative;
    left: 1000px;
}

.about-me-info:hover{
    animation: about-me-info-1 0.7s ease-out;
    width: 69%;
    height: 77vh;
}

.about-me-p{
    color: rgb(0, 0, 0);
    font-family: "M PLUS 1p", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.hobbies-div{
    margin-top: 20vh;
}

.hobbies-title{
    font-size: 50px;
    font-weight: 500;
}

.hobbies-divider{
    width: 0%;
    border: 2px #4F4560 solid;
}

.hobbies-holder{
    width: 1%;
    background-color: #F4C3C3;
    height: 60vh;
    margin: auto;
    margin-top: 40px;
    border-radius: 38px;
    border: 3px white solid;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.hobby{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 26px;
    position: relative;
    animation: hobby-2 0.5s ease-out;
    opacity: 0;
}

.hobby:hover{
    width: 94%;
    height: 94%;
    animation: hobby-1 0.5s ease-out;
}

.hobby-text{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    color: black;
    font-family: "M PLUS 1p", sans-serif;

}

.hobby-desc{
    width: 90%;
    font-weight: 600;
    opacity: 0;
    animation: fade-2 0.5s ease-out;
    background-color: white;
    height: 90%;
    overflow: auto;
}

.hobby-desc:hover{
    opacity: 1;
    animation: fade-1 0.5s ease-out;
}