@keyframes about-me-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes about-me-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes about-me-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes about-me-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}

@keyframes spin{
    from{rotate: 0deg;}
    to{rotate: 359deg;}
}

@keyframes about-me-info-1{
    from{width: 67%; height: 75vh;}
    to{width: 69%; height: 77vh;}
}

@keyframes about-me-info-2{
    to{width: 67%; height: 75vh;}
    from{width: 69%; height: 77vh;}
}

.about-me-section{
    background-color: #fdb3b3;
    background-image: url("/imgs/plaidTile.jpg");
}

.about-me-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: about-me-border-2 0.7s ease-out;
}

.about-me-border:hover{
    animation: about-me-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.about-me-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: about-me-div-2 0.7s ease-out;
}

.about-me-title-div:hover{
    animation: about-me-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.about-me-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 100px;
    width: 100%;
}

.about-me-text{
    position: relative;
}

.about-me-body{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    height: 80vh;
    overflow: auto;
}

.img-border{
    background-image: url("/imgs/lace-border.png");
    background-size: 381.99px;
    height: 381.99px;
    width: 381.99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 15s linear infinite;
    transform-origin: 0% 0%;
}

.img-holder{
    position: relative;
    width: 23%;
}

.img{
    background-color: white;
    width: 297.46px;
    height: 297.46px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me-info{
    background-color: #F2C7C7;
    width: 67%;
    height: 75vh;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 40px;
    border: 3px white solid;
    animation: about-me-info-2 0.7s ease-out;
}

.about-me-info:hover{
    animation: about-me-info-1 0.7s ease-out;
    width: 69%;
    height: 77vh;
}

.about-me-p{
    color: rgb(0, 0, 0);
    font-family: "M PLUS 1p", sans-serif;
    font-size: 20px;
    font-weight: 500;
}