@keyframes contact-card-1{
    from{height: 150px; width: 45%; box-shadow: none;}
    to{height: 155px; width: 48%; box-shadow: 0px 0px 20px 10px rgb(244, 181, 181);}
}

@keyframes contact-card-2{
    to{height: 150px; width: 45%; box-shadow: none;}
    from{height: 155px; width: 48%; box-shadow: 0px 0px 20px 10px rgb(244, 181, 181);}
}

.contact-title{
    font-weight: 500;
    font-size: 60px;
    line-height: 1px;
}

hr{
    width: 42%;
    height: 2px;
    background-color: #4F4560;
    margin: auto;
    border-radius: 20px;
}

.heart{
    font-size: 50px;
    font-weight: 100;
    line-height: 1px;
    font-family: "Pixelify Sans", sans-serif;
}


.flex-divider{
    display: flex;
    width: 40%;
    margin: auto;
    position: relative;
    bottom: 25px;
}

.contact-card-holder{
    display: flex;
    justify-content: space-around;
}

.contact-card{
    height: 150px;
    background-color: white;
    width: 45%;
    border-radius: 34px;
    display: grid;
    grid-template-columns: 25% 75%;
    box-shadow: none;
    animation: contact-card-2 0.5s ease-out;
}

.contact-card:hover{
    height: 155px;
    width: 48%;
    box-shadow: 0px 0px 20px 10px rgb(244, 181, 181);
    animation: contact-card-1 0.5s ease-out;
}

.contact-icon{
    width: 112px;
    height: 112px;
    margin: auto;
}

.contact-text{
    font-size: 2.5vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "M PLUS 2", sans-serif;
    font-weight: 300;
}

.placeholder{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 2vw;
}

.placeholder-card{
    position: relative;
}