@keyframes experience-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes experience-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes experience-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes experience-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}

@keyframes icon-1{
    from{width: 80px; height: 80px}
    to{width: 87px; height: 87px}
}

@keyframes icon-2{
    to{width: 80px; height: 80px}
    from{width: 87px; height: 87px}
}


.experience-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: experience-border-2 0.7s ease-out;
}

.experience-border:hover{
    animation: experience-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.experience-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: experience-div-2 0.7s ease-out;
}

.experience-title-div:hover{
    animation: experience-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.experience-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 100px;
    width: 100%;
}

.array{
    width: 80%;
    height:119px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 200px;
    overflow-x: auto;
}

.array-border{
    width: 81%;
    height: 128px;
    background-color: transparent;
    border: 2px white solid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 200px;
}

.array-border-1{
    top: 35px;
}

.array-border-2{
    bottom: 35px;
}

.array-1{
    top: 40px;
}

.array-2{
    bottom: 40px;
}

.icon{
    width: 80px;
    height: 80px;
    animation: icon-2 0.5s ease-out;
}

.icon:hover{
    width: 87px;
    height: 87px;
    animation: icon-1 0.5s ease-out;
}

.img-holder{
    display: grid;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.holder-1{
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.holder-2{
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 65%;
}

.skill{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: black;
    font-size: 30px;
    font-family: "M PLUS 1p", sans-serif;
}

.subtitle{
     font-family: "M PLUS 2", sans-serif;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     font-size: 25px;
}

.subtitle-1{
    top: -25px;
}

.subtitle-2{
    bottom: -25px;
}

.experience-holder{
    background-color: #F0C2C2;
    width: 85%;
    height: 70vh;
    border-radius: 18px;
    border: 2px white solid;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
}

.subholder{
    background-color: white;
    height: 100%;
}

.subholder-1{
    width: 70%;
}

.subholder-2{
    width: 25%;
}