@keyframes experience-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes experience-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes experience-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes experience-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}

@keyframes icon-1{
    from{width: 12vh; height: 12vh}
    to{width: 14vh; height: 14vh}
}

@keyframes icon-2{
    to{width: 12vh; height: 12vh}
    from{width: 14vh; height: 14vh}
}

@keyframes hackathon-ysws-1{
    from{height: 6vw;}
    to{height: 6.5vw;}
}

@keyframes hackathon-ysws-2{
    to{height: 6vw;}
    from{height: 6.5vw;}
}

.experience-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: experience-border-2 0.7s ease-out;
}

.experience-border:hover{
    animation: experience-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.experience-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: experience-div-2 0.7s ease-out;
}

.experience-title-div:hover{
    animation: experience-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.experience-title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 9vw;
    width: 100%;
}

.array{
    width: 1%;
    height:20vh;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100vh;
    overflow-x: auto;
    align-content: center;
}

.array-border{
    width: 2%;
    height: 21.5vh;
    background-color: transparent;
    border: 2px white solid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100vh;
}

.array-border-1{
    top: 8vh;
}

.array-border-2{
    bottom: 8vh;
}

.array-1{
    top: 9vh;
}

.array-2{
    bottom: 9vh;
}

.icon{
    width: 12vh;
    height: 12vh;
    animation: icon-2 0.5s ease-out;
}

.icon:hover{
    width: 14vh;
    height: 14vh;
    animation: icon-1 0.5s ease-out;
}

.img-holder{
    display: grid;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.holder-1{
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.holder-2{
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 65%;
}

.skill{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: black;
    font-size: 5vh;
    font-family: "M PLUS 1p", sans-serif;
}

.subtitle{
    font-family: "M PLUS 2", sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    width: 100%;
    text-align: center;
}

.subtitle-1{
    top: -15px;
}

.subtitle-2{
    bottom: -15px;
}

.experience-holder{
    background-color: #F0C2C2;
    width: 2%;
    height: 70vh;
    border-radius: 18px;
    border: 2px white solid;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.subholder{
    background-color: white;
    height: 100%;
    border-radius: 27px;
}

.subholder-1{
    width: 69%;
}

.subholder-2{
    width: 30%;
    text-align: center;
}

.subholder-heading{
    font-size: 2.5vw;
    font-family: "Pixelify Sans", sans-serif;
    color: #4F4560;
    text-align: center;
}

.hackathon-ysws{
    height: 6vw;
    animation: hackathon-ysws-2 0.5s ease-out;
}

.hackathon-ysws:hover{
    height: 6.5vw;
    animation: hackathon-ysws-1 0.5s ease-out;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.subholder{
    overflow: auto;
}

.other-experience{
    font-size: 1.35vw;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 500;
}

.endScroll{
    height: 2vh;
    position: relative;
}

.hackathon-ysws-display{
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "M Plus 2";
    font-size: 2.5vh;
}