@keyframes experience-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes experience-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes experience-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes experience-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}


.experience-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: experience-border-2 0.7s ease-out;
}

.experience-border:hover{
    animation: experience-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.experience-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: experience-div-2 0.7s ease-out;
}

.experience-title-div:hover{
    animation: experience-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.experience-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 100px;
    width: 100%;
}

.array{
    width: 80%;
    height:119px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.array-2{
    bottom: 15px;
}