@keyframes projects-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes projects-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes projects-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes projects-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}

@keyframes project-button-1{
    from{width: 45%; height: 30px}
    to{width: 48%; height: 35px;}
}

@keyframes project-button-2{
    to{width: 45%; height: 30px}
    from{width: 48%; height: 35px;}
}


.projects-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: projects-border-2 0.7s ease-out;
}

.projects-border:hover{
    animation: projects-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.projects-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: projects-div-2 0.7s ease-out;
}

.projects-title-div:hover{
    animation: projects-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.projects-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 100px;
    width: 100%;
}

.project-navigation{
    display: flex;
    justify-content: space-around;
    height: 75vh;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav{
    height: 450px;
    width:10%;
    border: 0px transparent;
    background-color: white;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
}

.nav-left{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.nav-right{
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.project-holder{
    background-color: white;
    width: 80%;
    height: 450px;
    box-sizing: border-box;
    padding: 10px;
}

.project-flex{
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.project-preview{
    height: 355px;
    object-fit:cover;
    border-radius: 20px;
}

.project-name{
    text-align: center;
}

.project-text{
    width: 48%;
    overflow: auto;
}

.project-name{
    font-size: 50px;
}

.project-desc{
    font-size: 18px;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 600;
}

.tech-stack{
    font-size: 18px;
    font-family: "M Plus 2", sans-serif;
    font-weight: 500;
}

.end{
    font-size: 16px;
    font-family: "M Plus 1p", sans-serif;
}

.button-flex{
    display: flex;
    justify-content: space-around;
}

.project-button{
    width: 45%;
    height: 30px;
    background-color: #4F4560;
    color: white;
    font-weight: 700;
    font-family: "M Plus 2", sans-serif;
    border: 0px transparent;
    border-radius: 10px;
    animation: project-button-2 0.5s ease-out;
}

.project-button:hover{
    background-color: #3d3648;
    width: 48%;
    height: 35px;
    animation: project-button-1 0.5s ease-out;
}