@keyframes projects-div-1{
    from{width: 70vw; height: 65vh}
    to{width: 72.5vw; height: 70.25vh;}
}

@keyframes projects-div-2{
    to{width: 70vw; height: 65vh}
    from{width: 72.5vw; height: 70.25vh;}
}

@keyframes projects-border-1{
    from{width: 72.5vw; height: 70.25vh;}
    to{width: 76.125vw; height: 73.76vh;}
}

@keyframes projects-border-2{
    to{width: 72.5vw; height: 70.25vh;}
    from{width: 76.125vw; height: 73.76vh;}
}

@keyframes project-button-1{
    from{width: 45%; height: 30px}
    to{width: 48%; height: 35px;}
}

@keyframes project-button-2{
    to{width: 45%; height: 30px}
    from{width: 48%; height: 35px;}
}

@keyframes nav-1{
    from{font-size: 30px;}
    to{font-size: 35px;}
}

@keyframes nav-2{
    to{font-size: 30px;}
    from{font-size: 35px;}
}

@keyframes card-1{
    from{width: 29.5vw}
    to{width: 31vw}
}

@keyframes card-2{
    to{width: 29.5vw}
    from{width: 31vw}
}


.projects-border{
    width: 72.5vw;
    height: 70.25vh;
    border: 6px white solid;
    border-radius: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: projects-border-2 0.7s ease-out;
}

.projects-border:hover{
    animation: projects-border-1 0.7s ease-out;
    width: 76.125vw;
    height: 73.76vh;
}

.projects-title-div{
    background-color: white;
    width: 70vw;
    height: 65vh;
    border-radius:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: projects-div-2 0.7s ease-out;
}

.projects-title-div:hover{
    animation: projects-div-1 0.7s ease-out;
    width: 72.5vw;
    height: 70.25vh;
}

.projects-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 100px;
    width: 100%;
}

.project-navigation{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    width: 1%;
    position: absolute;
    overflow-x: auto;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.nav{
    height: 70vh;
    width:10%;
    border: 0px transparent;
    background-color: white;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    color: #4F4560;
    animation: nav-2 0.5s ease-out;
}

.nav:hover{
    font-size: 35px;
    animation: nav-1 0.5s ease-out;
}

.nav-left{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.nav-right{
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.project-holder{
    background-color: white;
    width: 80%;
    height: 70vh;
    box-sizing: border-box;
    padding: 10px;
}

.project-flex{
    display: flex;
    justify-content: space-around;
    height: 80%;
}

.project-preview{
    max-height: 50vh;
    width: auto;
    object-fit:cover;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.project-name{
    text-align: center;
    font-size: 45px;
}

.project-text{
    width: 48%;
    margin-top: auto;
    margin-bottom: auto;
    height: 54vh;
}

.project-inner-text{
    height: 47vh;
    overflow: auto;
}

.project-desc{
    font-size: 18px;
    font-family: "M Plus 1p", sans-serif;
    font-weight: 600;
}

.tech-stack{
    font-size: 18px;
    font-family: "M Plus 2", sans-serif;
    font-weight: 500;
}

.end{
    font-size: 16px;
    font-family: "M Plus 1p", sans-serif;
}

.whitespace{
    width: 3px;
}

.button-flex{
    display: flex;
    justify-content: space-around;
    margin-top: -8px;
}

.project-button{
    width: 45%;
    height: 30px;
    background-color: #4F4560;
    color: white;
    font-weight: 700;
    font-family: "M Plus 2", sans-serif;
    border: 0px transparent;
    border-radius: 10px;
    animation: project-button-2 0.5s ease-out;
}

.project-button:hover{
    background-color: #3d3648;
    width: 48%;
    height: 35px;
    animation: project-button-1 0.5s ease-out;
}

.header{
    position: absolute;
    font-size: 30px;
    font-family: "M Plus 2", sans-serif;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.project-grid{
    display: grid;
    background-color: rgb(244, 194, 194);
    height: 90%;
    width: 95%;
    opacity: 0;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px;
    overflow-y: auto;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
}

.card{
    background-color: rgb(254, 254, 254);
    width: 29.5vw;
    height: 400px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    animation: card-2 0.5s ease-out;
}

.card:hover{
    width: 31vw;
    animation: card-1 0.5s ease-out;
}

.other-project-flex{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.other-preview{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.other-project-name{
    text-align: center;
    font-size: 20px;
    font-family: "M Plus 2", sans-serif;
}

.other-project-desc{
    font-size: 16px;
    font-family: "M Plus 1p", sans-serif;
    height: 240px;
    overflow-y: auto;
    margin-left: 10px;
}

@media screen and (min-height: 1058px){
    .project-preview{
        height: 500px;
    }
}

@media screen and (max-width: 1700px){
    .project-preview{
        height: 30vw;
    }
}